<div
  class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700  max-w-3xl md:flex-row bg-sky-200">
  <div
    class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Latest Users</h5>
    </div>
    <div class="flow-root mb-8">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

        <li class="py-3 sm:py-4">

          <div class="flex items-center space-x-4">
            <div
              class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-cyan-100 rounded-full dark:bg-cyan-600">
              <span class="font-medium text-cyan-600 dark:text-cyan-300">AR</span>
            </div>
            <div class="flex-shrink-0">
              <img class="w-10 h-10 rounded-full cursor-pointer" src="../../assets/pexels-carol-wd-3454298.jpg"
                alt="Neil image" (click)="showDetails = !showDetails">
            </div>
            <div class="flex-1 min-w-0">
              <span
                class="inline-block px-2 py-1 leading-none bg-green-200 text-green-800 rounded-full font-semibold uppercase tracking-wide text-xs">Interesse</span>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Aruna
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                aruna@thinkcove.com
              </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-8 w-8 bg-purple-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
          </div>
        </li>
        <li class="py-3 sm:py-4">

          <div class="flex items-center space-x-4">
            <div
              class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-blue-100 rounded-full dark:bg-blue-600">
              <span class="font-medium text-blue-600 dark:text-blue-300">KA</span>
            </div>
            <div class="flex-shrink-0">
              <img class="w-10 h-10 rounded-full cursor-pointer" src="../../assets/pexels-carol-wd-3454298.jpg"
                alt="Bonnie image" (click)="showDetails = !showDetails">
            </div>
            <div class="flex-1 min-w-0">
              <span
                class="inline-block px-2 py-1 leading-none bg-green-200 text-green-800 rounded-full font-semibold uppercase tracking-wide text-xs">Interesse</span>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Karthick
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                karthick@thhinkcove.com
              </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-8 w-8 bg-purple-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
          </div>
        </li>
        <li class="py-3 sm:py-4">

          <div class="flex items-center space-x-4">
            <div
              class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-indigo-100 rounded-full dark:bg-indigo-600">
              <span class="font-medium text-indigo-600 dark:text-indigo-300">HA</span>
            </div>
            <div class="flex-shrink-0">
              <img class="w-10 h-10 rounded-full cursor-pointer" src="../../assets/pexels-carol-wd-3454298.jpg"
                alt="Michael image" (click)="showDetails = !showDetails">
            </div>
            <div class="flex-1 min-w-0">
              <span
                class="inline-block px-2 py-1 leading-none bg-green-200 text-green-800 rounded-full font-semibold uppercase tracking-wide text-xs">Interesse</span>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Harihar
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                harihar@thinkcove.com
              </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-8 w-8 bg-purple-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
          </div>
        </li>
        <li class="py-3 sm:py-4">

          <div class="flex items-center space-x-4">
            <div
              class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-violet-100 rounded-full dark:bg-violet-600">
              <span class="font-medium text-violet-600 dark:text-violet-300">GN</span>
            </div>
            <div class="flex-shrink-0">
              <img class="w-10 h-10 rounded-full cursor-pointer" src="../../assets/pexels-carol-wd-3454298.jpg"
                alt="Lana image" (click)="showDetails = !showDetails">
            </div>
            <div class="flex-1 min-w-0">
              <span
                class="inline-block px-2 py-1 leading-none bg-green-200 text-green-800 rounded-full font-semibold uppercase tracking-wide text-xs">Interesse</span>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Gokulnath
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                gokulnath@thinkcove.com
              </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-8 w-8 bg-purple-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
          </div>
        </li>

        <li class="pt-3 pb-0 sm:pt-4">

          <div class="flex items-center space-x-4">
            <div
              class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-pink-100 rounded-full dark:bg-pink-600">
              <span class="font-medium text-pink-600 dark:text-pink-300">MA</span>
            </div>
            <div class="flex-shrink-0">
              <img class="w-10 h-10 rounded-full cursor-pointer" src="../../assets/pexels-carol-wd-3454298.jpg"
                alt="Thomas image" (click)="showDetails = !showDetails">
            </div>
            <div class="flex-1 min-w-0">
              <span
                class="inline-block px-2 py-1 leading-none bg-green-200 text-green-800 rounded-full font-semibold uppercase tracking-wide text-xs">Interesse</span>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Mohamed Anas
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                mohamedans.thinkcove.com
              </p>

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-8 w-8 bg-purple-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
          </div>
        </li>
      </ul>

    </div>
    <nav aria-label="Page navigation example my-4">
      <ul class="list-style-none flex">
        <li>
          <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
            href="#">Previous</a>
        </li>
        <li>
          <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
            href="#">1</a>
        </li>
        <li aria-current="page">
          <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
            href="#">2</a>
        </li>
        <li>
          <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
            href="#">3</a>
        </li>
        <li>
          <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
            href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="flex flex-col justify-start p-8">

    <div class="mb-4 text-base text-neutral-600 dark:text-neutral-200" *ngIf="showDetails">
      <ul class="py-2 text-sm text-emerald-700 dark:text-emerald-200">
        <li>
          <a href="/dashbard" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" (click)="goToDashboard()">Dashboard</a>
        </li>
        <li>
          <a href="/settings" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" (click)="goToSettings()">Settings</a>
        </li>
        <li>
          <a href="/earnings" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" (click)="goToEarnings()">Earnings</a>
        </li>
      </ul>
      <div class="py-1">
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" (click)="signOut()">Sign out</a>
      </div>
    </div>



  </div>
</div>